
body{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

.card{
    max-width: 300px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 20px;
    margin: 10px auto;
    margin-top: 15vh;
    box-shadow: -4px 10px 36px 2px rgba(123,135,157,0.2);
}

.card .texts{
    padding: 0 10px;
}

.card h1{          
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.card p{
    font-weight: 400;
    color: hsl(220, 15%, 55%);   
    margin-bottom: 30px;   
    font-size: 15px;
}

.card img{
    width: 100%;   
    border-radius: 10px;
}


.attribution{ 
    font-size: 11px; 
    text-align: center; 
    justify-content: center;
    margin-top: 50px;
}
  
.attribution a
{ 
    color: hsl(228, 45%, 44%); 
}